//Fonts:
$ff-plex: 'IBM Plex Sans', sans-serif;
// Colors:
    // Primary
    $c-66E2DC:hsla(177, 68%, 64%, 1);
    $c-FA7453:hsla(12, 94%, 65%, 1);
    $c-FFB964:hsla(33, 100%, 70%, 1);
    $c-FCFAF9:hsla(20, 33%, 98%, 1);
    $c-191826:hsla(244, 23%, 12%, 1);
    // Neutral
    $c-n-white: hsl(0,0%,100%);
    $c-n-black: hsl(0,0%,0%);
// Screen Variables
    $screen-min: 23.4375rem;
    $screen-max: 90rem;







