.container{
    &--main{
        min-width: 20rem;
        max-width: 90rem;
        margin-inline: auto;
    }
}
.flex{
    display: flex;
}
.row{
    flex-flow: row wrap;
    &__clm{
        flex: 1 1;
    }
}
body{
    min-height: 100vh;
    min-height: 100svh;  
    background: url(../assets/bg-main-mobile.png) no-repeat, $c-FCFAF9;
    background-size: 150%, auto;
    background-position: left 5% top -40%;
}
.header{
    padding-inline: 1.5rem;
    padding-block: 2.5rem 0;   
    margin-bottom: 4.25rem;

    &__logo{
        margin-bottom: 4rem;
    }
}
.footer{
    padding-inline: 1.5rem;
}
