.heading,
.text{
    font-family: $ff-plex;
}
.heading{
    font-weight: 700;
}
.text{
    font-weight: 400;
}
.btn{
    font-family: $ff-plex;
    font-weight: 700;
    letter-spacing: -0.01em;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border-radius: .75rem;
    &__icon{
        width: 1.125rem;
        color: inherit;
    }
}
.logo{
    width: 9.125rem;
    height: fit-content;
}
.hero{
    &__title{
        font-size: 2.5rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        margin-bottom: 1.25rem;
    }
    &__txt{
        font-size: 1rem;
        line-height: 160%;
    }
}
.sctn{
    position: relative; 
    margin-bottom: 4rem; 
    &::before{  
        content: '';
        background: no-repeat url(../assets/bg-pattern-2.svg), $c-191826;
        background-size: 17.5rem auto, auto;
        background-position: center top;
        border-radius: .75rem;
        width: 100%;
        height: 37.5rem;
        position: absolute;
        top: 6.125rem;
        z-index: -1;
    }    
    &__img{
        width: 13.0625rem;
        margin-inline: auto;
        margin-bottom: 3rem;
    }
    &__card{
        width: 100%;
        max-width: 27.875rem;
        background: $c-FA7453;
        border-radius: .75rem;
        padding-inline: 2.25rem;
        padding-block: 3rem;
        &__title{
            font-size: 2rem;
            line-height: 125%;
            color: $c-FCFAF9;
            margin-bottom: .75rem;
        }
        &__text{
            font-size: 1.125rem;
            line-height: 155%;
            color: $c-FCFAF9;
            margin-bottom: 2.25rem;
        }
        &__price{
            align-items: center;
            font-size: 4.0625rem;
            line-height: 80%;
            color: $c-FCFAF9;
            &--small{
                font-size: 1.25rem;
                line-height: 160%;
                letter-spacing: -0.1em;
                margin-right: 1rem;
            }
            margin-bottom: 2rem;
        }
        &__btn1{
            background: $c-191826;
            color: $c-FCFAF9;
            margin-bottom: 1rem;
        }
        &__btn2{
            background: $c-FCFAF9;
            color: $c-191826;
        }
    }
}

.footer{
    &__logo{
        margin-bottom: 2rem;        
    }
    &__info{
        &__text{
            font-size: 1rem;
            line-height: 162%;
            color: $c-191826;
        }
    }
    
}