.h,
.p{
    font-family: $ff-plex;
}
.h{
    font-weight: 700;
}
.p{
    font-weight: 400;
}
.btn{
    font-family: $ff-plex;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.01em;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border-radius: .75rem;
    &__icon{
        width: 1.125rem;
        color: inherit;
    }
}
.logo{
    width: 9.125rem;
    height: fit-content;
}
.hero{
    &__title{
        font-size: 2.5rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        margin-bottom: 1.25rem;
    }
    &__txt{
        font-size: 1rem;
        line-height: 160%;
    }
}
.sctn{
    position: relative;      
    height: fit-content; 
    padding-block: .0313rem;
    &::before{  
        content: '';
        background: no-repeat url(../assets/bg-pattern-2.svg), $c-191826;
        background-size: 17.5rem 26.25rem, auto;
        background-position: center top;
        border-radius: .75rem;
        width: 100%;
        height: 37.5rem;
        position: absolute;
        top: 6.125rem;
        z-index: -1;
    }    
    &__img{
        width: 13.0625rem;
        margin-inline: auto;
        margin-bottom: 3rem;
    }
    &__card{
        width: 100%;
        max-width: 24.9375rem;
        background: $c-FA7453;
        border-radius: .75rem;
        padding-inline: 2.25rem;
        padding-block: 3rem;
        margin-inline: auto;
        &__title{
            font-size: 2rem;
            line-height: 125%;
            color: $c-FCFAF9;
            margin-bottom: .75rem;
        }
        &__text{
            font-size: 1.125rem;
            line-height: 155%;
            color: $c-FCFAF9;
            margin-bottom: 2.25rem;
        }
        &__price{
            align-items: center;
            font-size: 4.0625rem;
            line-height: 80%;
            color: $c-FCFAF9;
            gap: 1rem;
            &--small{
                font-size: 1.25rem;
                line-height: 160%;
                letter-spacing: -0.01em;
            }
            margin-bottom: 2rem;
        }
        &__btn1{
            background: $c-191826;
            color: $c-FCFAF9;
            margin-bottom: 1rem;
        }
        &__btn2{
            background: $c-FCFAF9;
            color: $c-191826;
        }
    }
}

.footer{
    &__logo{
        width: fit-content;    
    }
    &__container1{
        flex-flow: row wrap;
        gap: 2rem 8.5625rem;
    }
    &__container2{
        flex: 1 1 37.5rem;
        flex-flow: row wrap;
        gap: 4rem;
        align-items: center;
        justify-content: space-between;
    }
    &__info{
        max-width: 23.125rem;
        &__text{
            font-size: 1rem;
            line-height: 162%;
            color: $c-191826;
        }
    }
    &__social{
        align-items: center;
        gap: 1.25rem;
        &__item{
            width: 1.5625rem;
            height: auto;
            color: $c-191826;
        }
    }
    
}

@media  (min-width: 43.75rem) {
    .hero{
        width: 74%;
        &__title{
            font-size: 4rem;
            line-height: 100%;
        }
        &__txt{
            font-size: 1.125rem;
            line-height: 156%;
        }
    }
    .sctn{
        &::before{ 
            background-position: left 14.3125rem top -1.9375rem;
            top: 8.625rem;
        }    
        &__img{
            width: 16.875rem;
            margin-inline: 4rem 0;
            margin-bottom: 17.375rem;
        }
        &__card{
            border-radius: .75rem;
            padding-inline: 3rem;
            padding-block: 3rem;
            position: absolute;
            bottom: 0px;
            right: 3.625rem;
        }
    }    
}
@media  (min-width: 62.5rem) {
    .hero{
        width: 80%;
        max-width: 850px;
        &__title{
            font-size: 5.5rem;
        }
        &__txt{
            font-size: 1.25rem;
            line-height: 170%;
        }
    }
    .sctn{
        &::before{ 
            background-size: 19.5rem 29.25rem, auto;
            background-position: left 21rem top -2.5rem;
            top: 13.3125rem;
        }    
        &__img{
            width: 19.5rem;
            margin-inline: 6.375rem 0;
            margin-bottom: 17.875rem;
        }
        &__card{
            max-width: 27.875rem;
            border-radius: .75rem;
            padding-inline: 3.375rem;
            padding-block: 3.625rem 3rem;
            position: absolute;
            bottom: 0px;
            right: 5.9375rem;
            &__title{
                font-size: 2.5rem;
                line-height: 130%;
                margin-bottom: 1.375rem;
            }
            &__text{
                font-size: 1.25rem;
                line-height: 170%;
                margin-bottom: 2.4375rem;
            }
            &__price{
                margin-bottom: 2.875rem;
            }
        }
    }    
}