@media (hover:hover){
    .sctn__card__btn1:hover{
        background: $c-66E2DC;
    }
    .sctn__card__btn2:hover{
        background: $c-FFB964;
    }
    .footer__social__item:hover{
        color: $c-FA7453;
    }
}